

.elevation-4{
    box-shadow: 0 10px 10px rgba(0,0,0,.25),0 10px 5px rgba(0,0,0,.22)!important;
}

.main-sidebar{
    background-color: #14a650 !important;
}

.white{
    color:#fff !important;
}

.main-menu .info{
    text-align: center !important;
    color:#fff;
    width:100%;
    border-bottom:1px solid #269653;
    padding-bottom:10px;
}

.main-menu .info a{
    color:#fff;
    font-weight: bold;
    font-size:20px;
}

.nav .nav-item .nav-link p{
    font-family: 'Poppins' !important;
    font-size:17px;
}

.nav .nav-item .nav-link p.child{
    font-size:13px !important;
    font-weight: normal !important;
}

.nav .nav-item .nav-link i.child{
    font-size:9px !important;
    font-weight: normal !important;
    margin-left: 13px;
    position:relative;
    top:-1px;
    margin-right: 3px;
}

.nav-icon{
    font-size:12px !important;
}

.btn-outline-primary{
    color:#269653 !important;
    border-color: #269653 !important;
}

.btn-outline-primary:hover{
    color:#ffffff !important;
    background-color: #269653 !important;
}

.table-title{
    font-family: 'Poppins' !important;
    text-transform: uppercase;
    font-size: 20px;
    margin:0px;
    padding:0px;
}

.breadcrumb li.active a{
    color:#aaa !important;
}

.table .btn {
    /* display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .175rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem; */
    padding: 5px 10px 5px 10px !important;
    line-height: 0px !important;
    font-size:14px !important;
    text-align: center !important;
    border-radius: 3px !important;
    vertical-align: middle !important;
}

table{
    margin: 0 auto;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed; 
}

/* CUSTOM UPLOAD FORM */
input[type='file'] {
    display: none;
}

.customUpload {
    position: relative;
}
.fill {
    background: #ccc;
    display: block;
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
}

.fill img {
    object-fit: cover;
    width: 250px;
    height: 150px;
}

.customUpload .fill-btn {
    display: block;
    width: 350px !important;
}

.btn-verifikasi .form-group,
.btn-verifikasi .form-group .control-label {
    margin-bottom: 0px !important;
}

.help-block{
    color:red;
}

.customUpload .help-block{
    position: absolute;
    bottom:-20px;
    left:0;
    font-weight: normal !important;
}