* {
    box-sizing: border-box !important;
}

body{
    font-family: 'Poppins' !important; 
}

.carousel-control-next, .carousel-control-prev {
    width: 5% !important;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    display: block !important;
    padding: 15px !important;
    border-radius: 5px;
}

.carousel-item::after {
    background:rgba(0,0,0,1) !important;
}

.carousel-indicators li { visibility: hidden !important;}

header{
    position: relative;
}

header .search-wrapper{
    position: absolute;
    width:100%;
    overflow: auto;
    padding-bottom: 20px;
    bottom:-80px;
    z-index:20;
}

header .search-wrapper .search-umroh{
    background:white;
    display: block;
    border-radius: 10px;
    padding:20px 30px 20px 30px;
    color:#000;
}

.umroh-package{
    margin-top:50px;
}

.section-title-2nd{
    text-align: center;
}

.section-title-2nd h3{
    font-size:3.5rem;
}

.section-title-2nd p{
    color:#555;
    font-size:1rem;
}

.text-from{
    color:#14a650;
}

.text-price{
    font-weight: bold;
    color:#14a650;
    font-size:1.4rem;
}

.block-with-text {
overflow: hidden;
position: relative;
line-height: 1.2em;
height: 6.9em;
text-align: justify;
}
.block-with-text:before {
content: '...';
position: absolute;
right: 0;
bottom: 0;
}
.block-with-text:after {
content: '';
position: absolute;
right: 0;
width: 1em;
height: 1em;
margin-top: 0.2em;
background: white;
}

.paket-judul{
    font-size: 19px !important;
    display: block !important;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    margin: 0px !important;
    padding: 10px 15px 10px 15px !important;
    overflow: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8071603641456583) 0%, rgba(255,255,255,0) 100%);
}

.footer-info{
    padding-top:50px !important;
    padding-bottom: 10px !important;
}