/* Login CSS */

.extra-admin-login
{
    position: relative;
    margin:0 auto;
    width:60%;
    height: 90% !important;
}

.extra-admin-login .extra-admin-card{
    position: relative;
    top:10%;
    background: #fff;
    border-radius: 10px;
    padding:30px;
    padding-bottom:50px;
}

.extra-admin-login .extra-admin-body{
    position: relative;
}

.extra-admin-login .extra-admin-login{
    height:500px;
}

.extra-admin-login .extra-admin-login__hero{
    position: relative;
    height:250px;
    width: auto;
    margin-top:10%;
}

.extra-admin-login .btn-full{
    width:100% !important;
}


/* SM */
@media (max-width: 575px) { 
    .extra-admin-login
    {
        width:80%;
    }
}

/* SM */
@media (min-width: 576px) { 
    .extra-admin-login
    {
        width:70%;
    }
}

/* MD */
@media (min-width: 768px) {  }

/* LG */
@media (min-width: 992px) {
    .extra-admin-login
    {
        width:60%;
    }
}


/* XL */
@media (min-width: 1200px) { 
    .extra-admin-login
    {
        width:60%;
    }
 }